
.formInputs{
    width: 35%;
}

.main {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.headerLinks{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.headerLinksColor{
    cursor: pointer;
    color: yellowgreen;
}