.main{

	background-image: url(../../../photos/backgroundSearch.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    width: 100vu;
    height: 100vh;
}


.formControl {
    width: 100%;
    margin-top: 25px;
    background-color: white;
    border-radius: 5px;
}

.searchBtn{
    margin: 0 auto;
    margin-top: 25px;
    width: 15%;
}

.dates {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.inputColor{
    background-color: white;
    border-radius: 4px;
}

.d2
{
  text-align: center;
}

.p2
{
	font-size: 70px;
	color: white;
	text-align: center;
	font-weight: bolder;	
}

.line
{
	border-bottom: 3px solid white;
	width: 8%;
	display: inline-block;
}

.error {
    color: white;
    font-size: 12px;
    margin: 0;
}

.errorDiv{
    display: flex;
    justify-content: center;
}

